#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;   
    margin-top: -10px;
}
#friends-display-link i {
    color: aliceblue;
}
#friends-display-link {
    background-color: 
    #828080
    ;
    color: aliceblue;
}
body {
    background-color: #9E1A1A;
}
.friends-screen{
    color: aliceblue;
    padding: 0px 15px;
}
.friends-screen__channel {
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}
.friends-screen__channel-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
   
}
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/7/7a/ST3LambertPoster.png");
    background-size: cover;
    background-color: #9E1A1A;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
}
